<ul>
  <h4>Komentarze</h4>
  <li ng-repeat="comment in beer.comments">
    <blockquote>
      {{comment.text}}
      <cite class="clearfix">~{{comment.author}}, {{comment.createdOn | date}}</cite>
    </blockquote>
  </li>
</ul>
<form name="commentForm" ng-submit="commentCtrl.addComment(beer)">

  <!--          <blockquote>
              {{commentCtrl.comment.text}}
              <cite class="clearfix">{{commentCtrl.comment.author}}</cite>
            </blockquote>-->

  <h4>Dodaj komentarz</h4>
  <fieldset class="form-group">
    <textarea ng-model="commentCtrl.comment.text" class="form-control" placeholder="Wpisz komentarz..." title="Komentarz" required></textarea>
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="commentCtrl.comment.author" class="form-control" placeholder="Nick..." title="Nick" required />
  </fieldset>
  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Dodaj komentarz" />
  </fieldset>
</form>
